<!-- Call to Action -->

<section id="cta">

  <h3>Find the best quality products Today.</h3>
  <button type="button">Login</button>
  <button type="button">Explore Products</button>

</section>


<!-- Footer -->

<footer id="footer">

  <p>© Copyright 2020 AryAgain</p>

</footer>


</body>

</html>
