<%- include("partials/header"); -%>

<section id="pricing">
<h2>Challenge Us</h2>
<p>Find anyplace else the same product better than us?</p>
<p>Challenge by contacting Us!!!</p>
</section>

<%- include("partials/footer"); -%>
