<%- include("partials/header"); -%>

<section id="pricing">
<h2>Frequently Asked Questions</h2>

<ul>
  <li>How and when will I pay?</li>
  <li>How many listings are required to start buying?</li>
  <li>Who can buy on Gmaadhan?</li>

</ul>
</section>

<%- include("partials/footer"); -%>
